@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>

<style>
    a {text-align: center}
</style>


<div class="box-shadow">

    <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Index">Students</a>

</div>


