@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1><br/><br/>
    <h3>Click on links above or below to retrieve relevant information</h3><br/><br/>
    
</div>

<style>
    body {text-align: center}
</style>


<body >
<a asp-area="" asp-controller="Students" asp-action="Index">Click here to view all Students</a><br/>
<a asp-area="" asp-controller="Courses" asp-action="Index">Click here to view all Courses</a><br />
<a asp-area="" asp-controller="Teachers" asp-action="Index">Click here to view all Teachers</a><br />
<a asp-area="" asp-controller="GroupHandins" asp-action="Index">Click here to view all handins</a><br />
<a asp-area="" asp-controller="Enrolls" asp-action="Create">Click here to enroll an student to an course</a><br />
<a asp-area="" asp-controller="Groups" asp-action="Index">Click here to view all groups</a><br />
<a asp-area="" asp-controller="Assignments" asp-action="Create">Click here to create an assignment</a><br />
</body>


